:root {
	--pink-color: #f2726a;
}

*{
	background: linear-gradient(45deg, #e0f584, #ffa8d4);
	justify-content: center;
	align-items: center;	
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.wrapper{	
	border-radius: 10px;
	text-align: center;
	overflow: hidden;
	margin: 0 30px;
}
img {
	width: 40%;
	height: 40%;
	object-fit: cover;
	object-position: center;
}
ul{
     list-style: none;
 }
 a{
     text-decoration: none;
 }
 body{
     margin: 0px;
     padding: 0px;
     font-family: poppins;
 }
